<app-bread-crumb [items]="[{text: 'Categorias'}]"></app-bread-crumb>

<app-header
  page-title="Categorias"
  button-class="btn-success"
  button-text="+ Nova Categoria"
  button-link="new"
></app-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categories">
      <td>
        <strong>{{c.name}}</strong><br>
        <small>{{c.description}}</small>
      </td>
      <td>
        <a [routerLink]="[c.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(c)" class="btn btn-outline-info btn-sm">Deletar</button>
      </td>
    </tr>
  </tbody>

</table>

